@font-face {
  font-family: 'Arial';
  src: url('../fonts/ArialMT.woff2') format('woff2'), url('../fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prata';
  src: url('../fonts/Prata-Regular.woff2') format('woff2'),
    url('../fonts/Prata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #fff;
  --main-font-size: 24px;
  --bg-color: #222;
  --hover-color: #ff6600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial';
  color: var(--main-color);
  font-size: var(--main-font-size);
  background-color: #333;
}

body.lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 160px;
  max-width: 1920px;
}

.wrapper {
  margin: 0 auto;
  padding: 0 800px 0 160px;
  max-width: 1920px;
}

/********** HEADER **********/
.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
}

.blur-header {
  background-color: #000000;
  opacity: 0.8;
}

.header__logo {
  margin: 5px 0;
  margin-right: 270px;
}

.logo__img {
  width: 90px;
}

.header__burger {
  position: relative;
  display: none;
  width: 30px;
  height: 18px;
  z-index: 3;
}

.burger__line {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hover-color);
  transition: all 0.3s;
}

.burger__line:first-child {
  top: 0;
}

.burger__line:last-child {
  top: auto;
  bottom: 0;
}

.header__burger.active .burger__line {
  transform: scale(0);
}

.header__burger.active .burger__line:first-child {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}

.header__burger.active .burger__line:last-child {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  margin-bottom: 10px;
}

.nav__item:not(:last-child) {
  margin-right: 55px;
}

.nav__link {
  font-family: 'Arial';
  color: var(--main-color);
  font-style: italic;
  text-transform: uppercase;
  transition: color 0.3s;
  font-size: 16px;
}

.nav__link:hover {
  color: var(--hover-color);
}

/********** HERO **********/
.hero {
  background-color: var(--bg-color);
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 0 160px;
  max-width: 1920px;
}

.hero__info {
  display: flex;
  flex-direction: column;
  max-width: 950px;
  margin-top: 135px;
  margin-right: 50px;
}

.hero__title {
  margin-bottom: 25px;
  font-family: 'Prata';
  font-size: 80px;
  line-height: 1.2;
}

.hero__description {
  margin-bottom: 25px;
  font-size: 50px;
  line-height: 1.2;
}

.hero__img {
  width: 100%;
  object-fit: contain;
}

.hero__list {
  margin-bottom: 50px;
}

.hero__item {
  display: flex;
  align-items: center;
}

.hero__item:not(:last-child) {
  margin-bottom: 35px;
}

.hero-item__img {
  margin-right: 15px;
  width: 39px;
  height: 37px;
  object-fit: contain;
}

.hero-item__text {
  font-size: 24px;
  line-height: 1.2;
}

.hero-item__price {
  margin: 0 5px;
  font-family: 'Prata';
  font-size: 40px;
  vertical-align: middle;
}

.hero__button {
  padding: 33px 52px;
  width: fit-content;
  border-radius: 4px;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}

.hero__button:hover {
  background-color: var(--hover-color);
}

/********** FEATURES **********/
.features {
  padding-top: 100px;
  background-color: #282829;
}

.features__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 40px;
}

.features__title {
  font-size: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.features__img {
  width: 100%;
}

.features__info {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  max-width: 720px;
}

.features__item {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.features__item:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: 1px solid #55565a;
}

.features-item__img {
  margin-right: 15px;
  width: 58px;
  height: 47px;
  object-fit: cover;
}

.features__button {
  padding: 24px 20px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  color: #282829;
  background-color: var(--main-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.features__button:hover {
  background-color: var(--hover-color);
}

/********** CONTACT US **********/
.contact-us {
  padding: 140px 0;
  background-color: var(--bg-color);
}

.contact-us__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  background-color: var(--main-color);
}

.contact-us__info {
  margin-right: 30px;
  padding: 0 0 0 135px;
  max-width: 915px;
}

.contact-us__title {
  margin-bottom: 30px;
  font-family: 'Prata';
  color: #38535d;
  font-size: 54px;
}

.contact-us__img {
  width: 100%;
  border-radius: 0 30px 30px 0;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
}

.form__group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.form__input {
  padding: 18px 30px;
  width: 780px;
}

.form__checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.form__label {
  color: #55565a;
  font-size: 19px;
}

.form__button {
  margin-top: 20px;
  border-radius: 4px;
  padding: 32px 20px;
  background-color: var(--bg-color);
  color: var(--main-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.form__button:hover {
  background-color: var(--hover-color);
}

/********** FOOTER **********/
.footer {
  background-color: var(--bg-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav {
  display: flex;
  justify-content: center;
  padding: 35px 0;
  width: 100%;
  border-top: 2px solid #d5c9be;
  border-bottom: 2px solid #d5c9be;
}

.footer-nav__list {
  display: flex;
  justify-content: center;
}

.footer-nav__item:not(:last-child) {
  margin-right: 32px;
}

.footer-nav__link {
  font-family: 'Arial';
  color: var(--main-color);
  font-style: italic;
  text-transform: uppercase;
  transition: color 0.3s;
  font-size: 16px;
}

.footer-nav__link:hover {
  color: var(--hover-color);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright {
  font-size: 20px;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__list {
  display: flex;
  align-items: center;
  max-width: 400px;
}

.social__icon {
  width: 32px;
  height: 32px;
  transition: 0.3s linear;
}

.social__item:not(:last-child) {
  margin-right: 32px;
}

.social__item:hover .social__icon {
  filter: invert(37%) sepia(93%) saturate(1370%) hue-rotate(1deg) brightness(103%) contrast(104%);
  transform: scale(1.2);
}

.footer__buttom {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__text {
  font-size: 20px;
}

.footer__button {
  padding: 33px 52px;
  width: fit-content;
  border-radius: 4px;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}

.footer__button:hover {
  background-color: var(--hover-color);
}

@media (max-width: 1850px) {
  .wrapper {
    padding: 0 700px 0 160px;
  }

  .header__logo {
    margin-right: 200px;
  }

  .hero__title {
    margin-bottom: 20px;
    font-size: 65px;
  }

  .hero__description {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .hero__list {
    margin-bottom: 30px;
  }

  .hero__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .hero-item__text {
    font-size: 22px;
  }

  .hero-item__price {
    font-size: 35px;
  }

  .contact-us__info {
    max-width: 860px;
  }

  .contact-us__title {
    font-size: 40px;
  }

  .form__button {
    margin-top: 15px;
    padding: 25px 20px;
  }

  .form__input {
    padding: 14px 30px;
  }

  .contact-us {
    padding: 120px 0;
  }
}

@media (max-width: 1680px) {
  .wrapper {
    padding: 0 545px 0 160px;
  }

  .header__logo {
    margin-right: 80px;
  }

  .hero__title {
    margin-bottom: 15px;
    font-size: 60px;
  }

  .hero__description {
    margin-bottom: 15px;
    font-size: 40px;
  }

  .hero__list {
    margin-bottom: 20px;
  }

  .hero__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .hero-item__text {
    font-size: 18px;
  }

  .hero-item__price {
    margin: 0 5px;
    font-family: 'Prata';
    font-size: 30px;
    vertical-align: middle;
  }

  .hero__button {
    padding: 28px 45px;
  }

  .features-item__text {
    font-size: 20px;
  }

  .features__item {
    padding-bottom: 35px;
  }

  .contact-us {
    padding: 100px 0;
  }

  .contact-us__info {
    max-width: 740px;
  }

  .contact-us__title {
    margin-bottom: 20px;
    font-size: 35px;
  }

  .form__input {
    padding: 12px 30px;
  }
}

@media (max-width: 1540px) {
  .wrapper {
    padding: 0px 580px 0 120px;
  }

  .hero__container {
    padding: 0 0 0 120px;
  }

  .hero__title {
    font-size: 48px;
  }

  .hero__description {
    font-size: 32px;
  }

  .features {
    padding-top: 80px;
  }

  .features__info {
    padding: 0 25px;
  }

  .features__item {
    padding-bottom: 25px;
  }

  .features-item__img {
    width: 40px;
    height: 32px;
  }

  .features-item__text {
    font-size: 18px;
  }

  .features__button {
    padding: 20px 20px;
  }

  .contact-us {
    padding: 60px 0;
  }

  .contact-us__info {
    padding: 000 40px;
    max-width: 485px;
  }

  .contact-us__title {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    padding: 0 535px 0 60px;
  }

  .header__logo {
    margin-right: 20px;
  }

  .nav__link {
    font-size: 14px;
  }

  .nav__item:not(:last-child) {
    margin-right: 35px;
  }

  .hero__container {
    padding: 0 0 0 60px;
  }

  .hero__title {
    margin-bottom: 10px;
    font-size: 35px;
  }

  .hero__description {
    margin-bottom: 10px;
    font-size: 25px;
  }

  .hero__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .hero-item__text {
    font-size: 14px;
  }

  .hero-item__price {
    font-size: 18px;
  }

  .hero__button {
    padding: 14px 27px;
    font-size: 18px;
  }

  .features {
    padding-top: 60px;
  }

  .features-item__text {
    font-size: 14px;
  }

  .features-item__img {
    width: 28px;
    height: 23px;
  }

  .features__button {
    padding: 14px 20px;
    font-size: 18px;
  }

  .container {
    padding: 0 60px;
  }

  .contact-us {
    padding: 40px 0;
  }

  .contact-us__container {
    border-radius: 10px;
  }

  .contact-us__info {
    padding: 25px;
    max-width: 100%;
    margin-right: 0;
  }

  .contact-us__img {
    display: none;
  }

  .form__input {
    padding: 10px 30px;
    width: 600px;
  }

  .form__button {
    width: fit-content;
    padding: 14px 20px;
  }

  .footer-nav__link {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }

  .wrapper {
    padding: 0 40px;
  }

  .hero__container {
    padding: 0 40px;
  }

  .hero__container {
    flex-direction: column;
  }

  .hero__info {
    margin-right: 0px;
    margin-bottom: 20px;
    align-items: center;
  }

  .hero__description {
    text-align: center;
  }

  .features__container {
    flex-direction: column;
  }

  .features {
    padding-top: 40px;
  }

  .features__info {
    padding: 0 0;
    order: 1;
  }

  .features__img {
    margin-bottom: 40px;
  }

  .footer__button {
    padding: 14px 20px;
  }

  .social__item:not(:last-child) {
    margin-right: 25px;
  }
}

@media (max-width: 768px) {
  .header__container {
    justify-content: space-between;
  }

  .header__logo {
    position: relative;
    margin-right: 20px;
    z-index: 3;
  }

  .logo__img {
    width: 70px;
  }

  .header__burger {
    display: block;
  }

  .header__nav.active {
    left: 0;
  }

  .header__nav {
    position: absolute;
    top: -10px;
    left: -100%;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #edf2ec;
    overflow: auto;
    transition: all 0.5s;
    z-index: 2;
  }

  .nav__list {
    flex-direction: column;
    margin: 200px auto 0px;
    text-align: center;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .nav__link {
    font-size: 30px;
    color: var(--hover-color);
  }

  .hero__info {
    margin-right: 0;
    max-width: 768px;
  }

  .hero__title {
    text-align: center;
  }

  .hero-item__img {
    width: 25px;
    height: 24px;
  }

  .features {
    padding-top: 20px;
  }

  .features__container {
    padding: 0 40px;
  }

  .features__img {
    margin-bottom: 20px;
  }

  .features__info {
    order: 1;
  }

  .contact-us__title {
    font-size: 25px;
  }

  .form__button {
    padding: 12px 20px;
    font-size: 14px;
  }

  .form__input {
    padding: 7px 30px;
    width: 100%;
    font-size: 14px;
  }

  .form__label {
    font-size: 16px;
  }

  .contact-us {
    padding: 20px 0;
  }

  .contact-us__container {
    border-radius: 10px;
  }

  .footer__logo {
    display: none;
  }

  .footer__button {
    display: none;
  }

  .footer__info {
    justify-content: center;
  }

  .footer__buttom {
    justify-content: center;
  }

  .footer__text:nth-child(2) {
    display: none;
  }

  .footer__text:last-child {
    display: none;
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 0 20px;
  }

  .container {
    padding: 0 20px;
  }

  .hero__container {
    padding: 0 20px;
  }

  .hero__title {
    font-size: 20px;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero-item__price {
    font-size: 14px;
  }

  .hero-item__text {
    font-size: 12px;
  }

  .hero-item__img {
    width: 5%;
  }

  .hero__button {
    padding: 12px 27px;
    font-size: 14px;
  }

  .features__container {
    padding: 0 20px;
  }

  .features-item__text {
    font-size: 12px;
  }

  .features__button {
    padding: 12px 20px;
    font-size: 14px;
  }

  .contact-us__title {
    font-size: 18px;
  }

  .footer__nav {
    padding: 20px 0;
  }

  .footer-nav__item:not(:last-child) {
    margin-right: 14px;
  }

  .social__item:not(:last-child) {
    margin-right: 14px;
  }

  .footer__info {
    padding: 20px 0;
  }

  .footer__text {
    font-size: 14px;
  }
}
